fastapi
uvicorn[standard]
pydantic
python-dotenv
sqlalchemy
psycopg2-binary
sentence-transformers
scikit-learn
pandas
numpy
joblib
openai
tqdm
faker
bcrypt
matplotlib
plotly
scipy
seaborn
dvc
dvc-s3
mlflow
boto3
pytest
